<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>540678491267-o9slk1mckq0d7ctq6u5mq1h0q862m3qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540678491267-o9slk1mckq0d7ctq6u5mq1h0q862m3qn</string>
	<key>API_KEY</key>
	<string>AIzaSyD638R8DWjqBo4C-hYKLeiZLUaR4fFNWSo</string>
	<key>GCM_SENDER_ID</key>
	<string>540678491267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ericlin.FoodMi</string>
	<key>PROJECT_ID</key>
	<string>foodmi-4d95c</string>
	<key>STORAGE_BUCKET</key>
	<string>foodmi-4d95c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540678491267:ios:1351cb0bc507b173</string>
	<key>DATABASE_URL</key>
	<string>https://foodmi-4d95c.firebaseio.com</string>
</dict>
</plist>